@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	.header-list li {
		display: block;
		margin: 0;
		margin-bottom: 5px;
		&:last-child { 
			margin: 0;
		}
	}

	.section {
		&-main {
			height: 600px;
			&-title {
				font-size: 45px;
			}
		}

		&-treatment {
			.treatment-step {
				&:nth-child(2n+1) {
					left: 650px;
				}
	
				&:nth-child(2n) {
					right: 650px;
				}
			}
		}
	}
}
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.section {
		&-treatment {
			.treatment {
				&-image {
					display: none;
				}

				&-step {
					position: static;
					height: auto;
					margin-bottom: 30px;

					.circle-num {
						display: block;
					}

					&:nth-child(2n+1) {
						left: 650px;
					}
		
					&:nth-child(2n) {
						right: 650px;
					}
				}
			}
		}
	}

	.owl-carousel {
		.owl {	
			&-prev {
				left: 50px;
			}
	
			&-next {
				right: 50px;
			}
		}
	}
	
}
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

	.section {
		&-review {
			.review {
				display: block;

				&-image {
					float: left;
				}
				
				&:after {
					display: block;
					content: '';
					clear: both;
				}
			}
		}
	}

	.owl-carousel {
		.owl {	
			&-prev, &-next {
				transform: scale(0.5);
			}	

			&-dot {
				transform: scale(0.7);
			}

			&-prev {
				left: 10px;
			}

			&-next {
				right: 10px;
			}
		}
	}
}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {
	.col-xxs-12 {
		width: 100%;
	}

	.section {
		&-reason {
			.reason {
				height: auto;
				margin-bottom: 30px;
			}
		}

		&-artrit {
			.section-content ol {
				margin-left: 0px;
			}
		}

		&-review {
			.review {

				&-image {
					float: none;
					width: 100%;
					text-align: center;
					margin-bottom: 20px;
				}
				
				&:after {
					display: block;
					content: '';
					clear: both;
				}
			}
		}
	}
}
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}
	/**/

