$default-font: "Montserrat", sans-serif;
$accent: rgb(146, 52, 51);//#7f3736;
$default_text_color: #000;
$default_font_size: 20px;
$default_font_weight: 500;
$light_text_color: #515151;
$blue: rgb(0, 147, 208);
$green: #b3b0a0;
